@{
    ViewData["Title"] = "My Dashboard";
}

<h2 class="mb-4">My Tasks Overview</h2>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Total Tasks</h5>
                <h2>@ViewBag.TotalTasks</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Pending Tasks</h5>
                <h2>@ViewBag.PendingTasks</h2>
            </div>
        </div>
    </div>

</div>