@{
    ViewData["Title"] = "Super Admin Dashboard";
}

<h2 class="mb-4">Super Admin Dashboard</h2>

<div class="row">

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Total Companies</h5>
                <h2>@ViewBag.TotalCompanies</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Total Users</h5>
                <h2>@ViewBag.TotalUsers</h2>
            </div>
        </div>
    </div>

</div>