@model TaskFlow.ViewModels.UserViewModel

<h2>Create Company Admin</h2>

<form asp-action="Create" method="post">

    <input type="hidden" asp-for="CompanyId" />
    <input type="hidden" asp-for="Role" />

    <div class="mb-3">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>

    <button class="btn btn-primary">Create Admin</button>
</form>