@model TaskFlow.ViewModels.Project.ProjectCreateVM

@{
    ViewData["Title"] = "Create Project";
}

<div class="container-fluid">

    <!-- Page Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="mb-1">Create Project</h2>
            <p class="text-muted mb-0">
                Create a new project to organize tasks, members, and future sprints.
            </p>
        </div>

        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
            Back
        </a>
    </div>

    <form asp-action="Create" method="post">

        @Html.AntiForgeryToken()

        <div class="card shadow-sm">

            <div class="card-header">
                <h4>Create Project</h4>
            </div>

            <div class="card-body">

                <partial name="_ProjectForm" model="Model" />

            </div>

            <div class="card-footer text-end">

                <a asp-action="Index"
                   class="btn btn-outline-secondary">
                    Cancel
                </a>

                <button type="submit"
                        class="btn btn-primary">
                    Create Project
                </button>

            </div>

        </div>

    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}