@model TaskFlow.ViewModels.Project.ProjectCreateVM
<div class="container-fluid">

    <!-- Page Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="mb-1">Create Project</h2>
            <p class="text-muted mb-0">
                Update project to organize tasks, members, and future sprints.
            </p>
        </div>

        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
            Back
        </a>
    </div>
    <form asp-action="Edit" method="post">

        @Html.AntiForgeryToken()

        <input asp-for="Id" type="hidden" />

        <div class="card shadow-sm">

            <div class="card-header">
                <h4>Edit Project</h4>
            </div>

            <div class="card-body">

                <partial name="_ProjectForm" model="Model" />

            </div>

            <div class="card-footer text-end">

                <a asp-action="Details"
                   asp-route-id="@Model.Id"
                   class="btn btn-outline-secondary">
                    Cancel
                </a>

                <button type="submit"
                        class="btn btn-primary">
                    Save Changes
                </button>

            </div>

        </div>

    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}