@model TaskFlow.ViewModels.Dashboard.CompanyDashboardVM

<div class="card dashboard-card mb-4">

    <div class="card-body">

        <div class="d-flex justify-content-between">

            <div>

                <h3 class="fw-bold">
                    Company Dashboard
                </h3>

                <p class="text-muted mb-0">

                    Monitor employees, workload and company progress.

                </p>

            </div>

            <div class="text-end">

                <div class="small text-muted">

                    @DateTime.Now.ToString("dddd")

                </div>

                <div class="fw-semibold">

                    @DateTime.Now.ToString("dd MMM yyyy")

                </div>

            </div>

        </div>

    </div>

</div>